<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-icon class="ion-margin-start" slot="start" name="settings" size="large"></ion-icon>
    <ion-icon class="toolbar-button" slot="end" name="code" size="large" (click)="dev()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="backup()">Backup tasks
    <ion-icon class="toolbar-button" slot="start" name="arrow-down-circle"></ion-icon>
  </ion-item>
  <ion-item button (click)="showRestoreDialog()">Restore tasks
    <ion-icon class="toolbar-button" slot="start" name="arrow-up-circle"></ion-icon>
  </ion-item>
  <ion-item button (click)="showDeleteAllDataDialog()">Delete all data
    <ion-icon class="toolbar-button" slot="start" name="trash"></ion-icon>
  </ion-item>
  <ion-item button (click)="notify(5, false)">Notify in a few seconds
    <ion-icon class="toolbar-button" slot="start" name="chatbox-ellipses"></ion-icon>
  </ion-item>
  <ion-item button (click)="notify(5, true)">Notify in a few seconds and close app
    <ion-icon class="toolbar-button" slot="start" name="chatbox-ellipses"></ion-icon>
  </ion-item>
  <ion-textarea class="ion-margin-start" [value]="tasks | json" disabled="true" rows="1000"></ion-textarea>
</ion-content>
