<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pending tasks</ion-title>
    <ion-icon class="ion-margin-start" slot="start" name="calendar" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime [firstDayOfWeek]="1" [min]="now" presentation="date" size="cover" (ionChange)="onDateChange($event)"></ion-datetime>
  <ion-note *ngIf="(!pendingNormalNotifications || pendingNormalNotifications.length == 0) && (!pendingFaskTaskNotifications || pendingFaskTaskNotifications.length == 0)" 
    class="ion-margin-start">No pending tasks found...</ion-note>
  <ion-list>
    <ion-item *ngFor="let p of pendingFaskTaskNotifications"> 
      <ion-icon slot="start" class="toolbar-button" name="alert-circle"></ion-icon>
      <ion-label>{{ p.title + ": " + p.extra.dateRange }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let p of pendingNormalNotifications"> 
      <ion-icon slot="start" class="toolbar-button" name="hammer"></ion-icon>
      <ion-label>{{ p.body + ": " + p.extra.nextDate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>