<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pending tasks</ion-title>
    <ion-icon class="ion-margin-start" slot="start" name="calendar" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime *ngIf="pendingNotifications && pendingNotifications.length > 0" 
    [firstDayOfWeek]="1" [min]="now" presentation="date" size="cover" (ionChange)="onDateChange($event)">
  </ion-datetime>
  <ion-list>
    <ion-note *ngIf="!pendingNotifications || pendingNotifications.length == 0" class="ion-margin-start ion-margin-top">No pending tasks found...</ion-note>
    <ion-item *ngFor="let p of pendingNotifications"> 
      <ion-icon slot="start" class="toolbar-button" [name]="!p.extra ? 'timer' : (p.extra.fastTask ? 'alert-circle' : 'hammer')"></ion-icon>
      <ion-label class="ion-text-wrap">{{ getPendingSummary(p) }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>